*.DS_Store
model/
Titanic_New_V1_0_null제거기초배포.ipynb
answer/
images/
My_fashion_mnist/
dogs-vs-cats/
cifa_test_img/
data/
logs/
converted_keras/
check/
aclImdb/
glove.6B/
/project/__pycache__
project/api_key.txt
project/example_data/temp.pdf
requirements.txt
